<header class="grid-spaceBetween-middle mainNav" id="navigation">
   <nav class="col-12 textCenter navbar">
     <div class="menu">
       <ul>
         <li><i class="far fa-circle"></i><a href="/"> Home </a></li>
         <li><i class="far fa-circle"></i><a href="/about"> Meet Nicole </a></li>
         <li><i class="far fa-circle"></i><a href="/resources">Coaching</a></li>
         <li><i class="far fa-circle"></i><a href="/blog"> What's New </a></li>
         <li><i class="far fa-circle"></i><a href="/contact"> Success </a></li>
         <li><i class="far fa-circle"></i><a href="/resources">eBooks</a></li>
         <li><i class="far fa-circle"></i><a href="/blog"> Blog </a></li>
         <li><i class="far fa-circle"></i><a href="/contact"> Contact </a></li>
       </ul>
     </div>
   </nav>
</header>
<!--<header class="hamburger">
  <nav class="hamburger">
	<div class="hamburger-button">
			<span class="hamburger-top"></span>
			<span class="hamburger-middle"></span>
			<span class="hamburger-bottom"></span>
	</div>
  <div class="hamburger-menu">
    <ul>
    <li><a href="/index">Home</a></li>
    <li><a href="/about">About Me</a></li>
    <li><a href="/coaching">Coaching</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>
</nav>
</header>-->
